.container {
    width: 800px;
    margin: 0 auto;
    border:1px solid black;
    
}

.header {
    display: flex;
    justify-content:space-between;
    margin-bottom: 100px;
    border:1px solid red;
}

.results {
    display: flex;
    
}
#newgame,.score {
    background-color:#cdae8d;
    border: 1px solid #cdae8d;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    padding: 10px; 
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
#newgame
{
    padding: 20px; 
}

#newgame:hover {
    cursor: pointer;
}

.game {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    margin: auto;
}

.game div {
    width: 100px;
    height: 100px;
    background-color:#cdae8d; 
    text-align: center;
    border: 5px solid black;
    font-size: 70px;
    padding: 20px;
    
}


